.footer
    .container
        .col.col-1
            h5 客服專線
            h3 0800-038-906
        .col.col-2
            h5 客服專線
            .addrGroup.uk-grid
                .addr.uk-width-1-2
                    p 台北分公司
                    p 新北市新莊區化成路459號
                    p (02)8521-2831
                .addr.uk-width-1-2
                    p 台北分公司
                    p 新北市新莊區化成路459號
                    p (02)8521-2831
                .addr.uk-width-1-2
                    p 台北分公司
                    p 新北市新莊區化成路459號
                    p (02)8521-2831
        .col.col-3
            h5 關於百吉
            p 品牌故事
            p 最新消息
            p 隱私權政策
            p 問與答
            p 聯絡我們
        .col.col-4
            h5 商品分類
            p 雪糕
            p 冰淇淋
            p 甜筒
            p 業務用
        .col.col-5
            h5 會員中心
            p 我的帳戶
            p 願望清單
            p 查看購物車
            p 購買紀錄
            p 登出

.footer-sub 
    .container 
        .copyright 
            p 百吉冰淇淋版權所以 Copyright © 2017 Poki Ice cream All rights reserved.
        .social
            .icon.icon-facebook
            .icon.icon-youtube
            .icon.icon-pinterest
            .icon.icon-instagram
        .logo 
            .icon.icon-logo-footer