.header
    .container
        .header-top
            .menu-btn.icon.icon-menu
            .topSearch
                .fa.fa-search
                input(type="text", placeholder="我想找...")
            .logo
                a.icon.icon-logo(href="/")
            .rightNavs
                .icon.icon-favorite
                .icon.icon-cart
                .icon.icon-member
        .header-nav 
            a(href="/", class={active: currentUrl === 'index'}) 首頁
            a(href="") 公司簡介
            a(href="") 最新消息
            a(href="/products.html", class={active: currentUrl === 'products' || currentUrl === 'product-item'}) 產品介紹
            a(href="") Q&A
            a(href="") 聯絡我們
            a(href=""): img(src="/css/s/logo-footer.png")