*
    box-sizing: border-box
h1, h2, h3, h4, h5, p, label, ul, li, body, html
    margin: 0 
    padding: 0
html, body 
    width: 100%
    overflow-x: hidden
    font-family: 'Microsoft YaHei'

h2.font
    font-family: 'Pacifico', cursive
    display: inline-block

.icon
    display: inline-block

.container
    width: container-w
    margin: 0 auto
    padding: 0 20px
    @media(max-width: media-ipad)
        width: 100vw
    @media(max-width: media-mobile)
        width: 100vw

.clearfix 
    content: ""
    display: table
    clear: both

.divider 
    width: container-w
    margin: 0 auto
    border-top: 1px solid #aaa


.section-title 
    text-align: center
    margin-bottom: 30px
    h2, h5 
        color: #666
    h5 
        font-weight: bold
.header
    padding-top: 40px
    @media(max-width: media-mobile)
        position: fixed
        top: 0 
        left: 0
        width: 100%
        padding: 0
        background-color: #fff
        z-index: 9
        border-bottom: 1px solid main-color
    &.fixed
        position: fixed
        top: 0 
        left: 0
        width: 100%
        padding: 0
        background-color: #fff
        z-index: 9
        border-bottom: 1px solid main-color
        .header-top
            padding: 0 20px
            height: 60px
            border-bottom: none
            @media(max-width: media-mobile)
                padding: 0
            .menu-btn
                display: inline-block
            .topSearch
                margin-left: 20px
        .header-nav 
            display: none

    &.active
        .header-nav 
            display: block
            position: absolute
            border-top: 1px solid main-color
            background-color: rgba(#fff, 0.8)
            width: 100%
            left: 0
            a
                padding: 20px 0
                @media(max-width: media-mobile)
                    padding: 10px 0
                &.active, &:hover
                    border-top: none
                    font-weight: bold
                    @media(max-width: media-mobile)
                        background-color: main-color
                        color: #fff
    .container
        //
    .header-top
        height: 80px
        display: flex
        align-items: center
        border-bottom: 1px solid main-color
        @media(max-width: media-mobile)
            display: flex
            align-items: center
            border-bottom: none
            height: 60px
        .menu-btn
            display: none
            width: 40px
            cursor: pointer
            @media(max-width: media-mobile)
                display: inline-block
        .topSearch
            background-color: rgba(#eee, 0.7)
            border-radius: 20px
            height: 30px
            padding: 0 10px
            @media(max-width: media-mobile)
                display: none
            input[type="text"]
                border: none
                background-color: transparent
                outline: none
                width: 200px
                height: 100%
                font-size: 13px
        .logo
            flex-grow: 1
            text-align: center
            margin-left: -40px
            @media(max-width: media-mobile)
                margin: 0

        .rightNavs
            @media(max-width: media-mobile)
                display: none
            .icon 
                margin-left: 10px
    .header-nav 
        text-align: center
        @media(max-width: media-mobile)
            display: none
            padding: 20px 0
        a
            color: main-color
            font-size: 15px 
            display: inline-block
            border-top: 2px solid transparent
            margin: 0 17px
            padding-top: 15px
            @media(max-width: media-mobile)
                display: block
                padding: 10px 0
            &.active, &:hover
                border-top: 2px solid main-color
                text-decoration: none
            img 
                max-height: 22px
                position: relative
                top: -5px

.footer 
    height: 300px 
    background-color: #fff
    .container
        &:after
            @extend .clearfix
        .col
            float: left
            padding: 30px 15px
            p, h5
                font-size: 13px
                letter-spacing: 0.5px
                line-height: 22px
                color: #999

            h5 
                font-weight: bold
                margin-bottom: 15px
            
            &.col-1
                width: (2/8 * 100)%
                @media(max-width: media-mobile)
                    width: 100%
                h3 
                    color: #999
            &.col-2
                width: (3/8 * 100)%
                @media(max-width: media-mobile)
                    width: 100%
                .addr
                    margin-bottom: 20px
            &.col-3
                width: (1/8 * 100)%
                @media(max-width: media-mobile)
                    width: 33%
            &.col-4
                width: (1/8 * 100)%
                @media(max-width: media-mobile)
                    width: 33%
            &.col-5
                width: (1/8 * 100)%
                @media(max-width: media-mobile)
                    width: 33%
.footer-sub
    background-color: #fff
    padding: 30px 0
    .container
        display: flex
        @media(max-width: media-mobile)
            // display: block
        .copyright
            flex-grow: 1
            @media(max-width: media-mobile)
                display: none
            p 
                font-size: 12.5px
                color: #999
                margin-top: 10px
                letter-spacing: 0.5px
        .social
            padding: 0 20px
            display: flex
            align-items: center
            @media(max-width: media-mobile)
                // display: none
                padding-top: 20px
                width: 100%
                justify-content: center
            .icon 
                margin: 0 10px
        .logo 
            padding: 0 20px 
            border-left: 1px solid #999
            @media(max-width: media-mobile)
                padding: 15px 0
                margin-left: 10px
                border: none
                display: none



.noUi-target
    background-color: #ccc
    border: none
    box-shadow: none
.noUi-connect
    background-color: main-color
.noUi-horizontal
    height: 5px
    .noUi-handle
        width: 20px
        height: @width
        border-radius: 50%
        background-color: main-color
        box-shadow: none
        border: none
        top: -7px
        &:before, &:after
            content: ""
            display: none
        






.productGroup
    > div
    .card 
        text-align: center
        margin-bottom: 30px
        position: relative
        a 
            text-decoration: none 
            display: block
            color: #666
            transition: all 0.2s ease-in-out
        a:hover 
            color: main-color
            img 
                box-shadow: 0 3px 5px rgba(#000, 0.1)
        .video-link 
            position: absolute
            top: 0 
            left: 0
            margin-top: 10px 
            margin-left: @margin-top
        img 
            width: 100%
            min-height: 200px
            border-radius: 5px 
            overflow: hidden 
            transition: all 0.2s ease-in-out
        p.title 
            font-size: 16px
            font-weight: bold 
            margin-top: 10px
            margin-bottom: 5px
        p.intro 
            font-size: 14px
            color: #888
        h4 
            color: main-color
            font-weight: bold 
            margin-top: 12px
            span
                font-size: 14px
                margin-left: 5px 
                letter-spacing: 3px