* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p,
label,
ul,
li,
body,
html {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Microsoft YaHei';
}
h2.font {
  font-family: 'Pacifico', cursive;
  display: inline-block;
}
.icon {
  display: inline-block;
}
.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .container {
    width: 100vw;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100vw;
  }
}
.clearfix,
.footer .container:after,
.product-item .section.intro .container:after,
.product-item .section.intro .container .intro-area .intro-box .line:after,
.product-item .section.intro .container .intro-area .add-to-cart:after,
.products .section.content .main:after {
  content: "";
  display: table;
  clear: both;
}
.divider {
  width: 1100px;
  margin: 0 auto;
  border-top: 1px solid #aaa;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
}
.section-title h2,
.section-title h5 {
  color: #666;
}
.section-title h5 {
  font-weight: bold;
}
.header {
  padding-top: 40px;
}
@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: #fff;
    z-index: 9;
    border-bottom: 1px solid #1d2087;
  }
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  background-color: #fff;
  z-index: 9;
  border-bottom: 1px solid #1d2087;
}
.header.fixed .header-top {
  padding: 0 20px;
  height: 60px;
  border-bottom: none;
}
@media (max-width: 768px) {
  .header.fixed .header-top {
    padding: 0;
  }
}
.header.fixed .header-top .menu-btn {
  display: inline-block;
}
.header.fixed .header-top .topSearch {
  margin-left: 20px;
}
.header.fixed .header-nav {
  display: none;
}
.header.active .header-nav {
  display: block;
  position: absolute;
  border-top: 1px solid #1d2087;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  left: 0;
}
.header.active .header-nav a {
  padding: 20px 0;
}
@media (max-width: 768px) {
  .header.active .header-nav a {
    padding: 10px 0;
  }
}
.header.active .header-nav a.active,
.header.active .header-nav a:hover {
  border-top: none;
  font-weight: bold;
}
@media (max-width: 768px) {
  .header.active .header-nav a.active,
  .header.active .header-nav a:hover {
    background-color: #1d2087;
    color: #fff;
  }
}
.header .header-top {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #1d2087;
}
@media (max-width: 768px) {
  .header .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: none;
    height: 60px;
  }
}
.header .header-top .menu-btn {
  display: none;
  width: 40px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header .header-top .menu-btn {
    display: inline-block;
  }
}
.header .header-top .topSearch {
  background-color: rgba(238,238,238,0.7);
  border-radius: 20px;
  height: 30px;
  padding: 0 10px;
}
@media (max-width: 768px) {
  .header .header-top .topSearch {
    display: none;
  }
}
.header .header-top .topSearch input[type="text"] {
  border: none;
  background-color: transparent;
  outline: none;
  width: 200px;
  height: 100%;
  font-size: 13px;
}
.header .header-top .logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  margin-left: -40px;
}
@media (max-width: 768px) {
  .header .header-top .logo {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .header .header-top .rightNavs {
    display: none;
  }
}
.header .header-top .rightNavs .icon {
  margin-left: 10px;
}
.header .header-nav {
  text-align: center;
}
@media (max-width: 768px) {
  .header .header-nav {
    display: none;
    padding: 20px 0;
  }
}
.header .header-nav a {
  color: #1d2087;
  font-size: 15px;
  display: inline-block;
  border-top: 2px solid transparent;
  margin: 0 17px;
  padding-top: 15px;
}
@media (max-width: 768px) {
  .header .header-nav a {
    display: block;
    padding: 10px 0;
  }
}
.header .header-nav a.active,
.header .header-nav a:hover {
  border-top: 2px solid #1d2087;
  text-decoration: none;
}
.header .header-nav a img {
  max-height: 22px;
  position: relative;
  top: -5px;
}
.footer {
  height: 300px;
  background-color: #fff;
}
.footer .container .col {
  float: left;
  padding: 30px 15px;
}
.footer .container .col p,
.footer .container .col h5 {
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 22px;
  color: #999;
}
.footer .container .col h5 {
  font-weight: bold;
  margin-bottom: 15px;
}
.footer .container .col.col-1 {
  width: 25%;
}
@media (max-width: 768px) {
  .footer .container .col.col-1 {
    width: 100%;
  }
}
.footer .container .col.col-1 h3 {
  color: #999;
}
.footer .container .col.col-2 {
  width: 37.5%;
}
@media (max-width: 768px) {
  .footer .container .col.col-2 {
    width: 100%;
  }
}
.footer .container .col.col-2 .addr {
  margin-bottom: 20px;
}
.footer .container .col.col-3 {
  width: 12.5%;
}
@media (max-width: 768px) {
  .footer .container .col.col-3 {
    width: 33%;
  }
}
.footer .container .col.col-4 {
  width: 12.5%;
}
@media (max-width: 768px) {
  .footer .container .col.col-4 {
    width: 33%;
  }
}
.footer .container .col.col-5 {
  width: 12.5%;
}
@media (max-width: 768px) {
  .footer .container .col.col-5 {
    width: 33%;
  }
}
.footer-sub {
  background-color: #fff;
  padding: 30px 0;
}
.footer-sub .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-sub .container .copyright {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 768px) {
  .footer-sub .container .copyright {
    display: none;
  }
}
.footer-sub .container .copyright p {
  font-size: 12.5px;
  color: #999;
  margin-top: 10px;
  letter-spacing: 0.5px;
}
.footer-sub .container .social {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .footer-sub .container .social {
    padding-top: 20px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer-sub .container .social .icon {
  margin: 0 10px;
}
.footer-sub .container .logo {
  padding: 0 20px;
  border-left: 1px solid #999;
}
@media (max-width: 768px) {
  .footer-sub .container .logo {
    padding: 15px 0;
    margin-left: 10px;
    border: none;
    display: none;
  }
}
.noUi-target {
  background-color: #ccc;
  border: none;
  box-shadow: none;
}
.noUi-connect {
  background-color: #1d2087;
}
.noUi-horizontal {
  height: 5px;
}
.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1d2087;
  box-shadow: none;
  border: none;
  top: -7px;
}
.noUi-horizontal .noUi-handle:before,
.noUi-horizontal .noUi-handle:after {
  content: "";
  display: none;
}
.productGroup > div,
.productGroup .card {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.productGroup > div a,
.productGroup .card a {
  text-decoration: none;
  display: block;
  color: #666;
  transition: all 0.2s ease-in-out;
}
.productGroup > div a:hover,
.productGroup .card a:hover {
  color: #1d2087;
}
.productGroup > div a:hover img,
.productGroup .card a:hover img {
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
.productGroup > div .video-link,
.productGroup .card .video-link {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
}
.productGroup > div img,
.productGroup .card img {
  width: 100%;
  min-height: 200px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.productGroup > div p.title,
.productGroup .card p.title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
.productGroup > div p.intro,
.productGroup .card p.intro {
  font-size: 14px;
  color: #888;
}
.productGroup > div h4,
.productGroup .card h4 {
  color: #1d2087;
  font-weight: bold;
  margin-top: 12px;
}
.productGroup > div h4 span,
.productGroup .card h4 span {
  font-size: 14px;
  margin-left: 5px;
  letter-spacing: 3px;
}
.index {
  background-color: #ebf6ff;
}
.index .section {
  position: relative;
}
.index .section.nav {
  position: absolute;
  z-index: 3;
  width: 100%;
}
.index .section.sec1 {
  background-color: #93c3e1;
  padding-bottom: 250px;
  z-index: 2;
  background-image: url("/imgs/slider-bg.jpg");
  background-position: center top;
  padding-top: 200px;
}
.index .section.sec1 .slick-initialized .slick-slide {
  margin: 0 30px;
}
.index .section.sec1 .slick-initialized .slick-dots {
  bottom: -50px;
}
.index .section.sec1 .carousel {
  width: 100%;
}
.index .section.sec1 .carousel button.ctrl-arrow {
  border: none;
  background-color: transparent;
  outline: none;
  display: block;
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer;
}
.index .section.sec1 .carousel button.ctrl-arrow.arrow-left {
  left: calc((100vw - 1100px) / 2 + 60px);
  margin-left: 40px;
}
.index .section.sec1 .carousel button.ctrl-arrow.arrow-right {
  right: calc((100vw - 1100px) / 2 + 60px);
  margin-right: 40px;
}
.index .section.sec1 .carousel .imgWrap {
  height: 100%;
}
@media (max-width: 768px) {
  .index .section.sec1 .carousel .imgWrap {
    width: calc(100vw - 40px);
    margin: 0 auto;
  }
}
.index .section.sec1 .carousel .imgWrap img {
  max-width: 100%;
}
.index .section.sec2 {
  z-index: 2;
  background-image: url("/imgs/milk01.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 170px;
  margin-top: -180px;
  padding-bottom: 200px;
}
@media (max-width: 768px) {
  .index .section.sec2 {
    background-color: #ebf6ff;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.index .section.sec2 .adGroup {
  text-align: center;
}
.index .section.sec2 .adGroup a.card {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #666;
}
.index .section.sec2 .adGroup a.card:hover {
  color: #333;
}
.index .section.sec2 .adGroup a.card img {
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
  overflow: hidden;
}
.index .section.sec2 .adGroup a.card p {
  margin: 20px 0;
  color: #666;
  font-size: 17px;
  font-weight: bold;
}
.index .section.sec2 .adGroup a.more {
  text-decoration: none;
  border: none;
  background-color: #bcc4cc;
  color: #fff;
  display: inline-block;
  width: 100px;
  padding: 3px 0;
  border-radius: 20px;
}
.index .section.sec2 .adGroup a.more:hover {
  background-color: #a6b0bb;
}
.index .section.sec3 {
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-top: -200px;
  padding: 200px 0;
}
@media (max-width: 768px) {
  .index .section.sec3 {
    padding-top: 280px;
  }
}
.index .section.sec4 {
  background-color: #d8e2eb;
  background-image: url("/imgs/milk02.png"), url("/imgs/brickwall-blue.png");
  background-position: center -5px;
  background-repeat: no-repeat, repeat;
  z-index: 2;
  margin-top: -200px;
  padding: 200px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .index .section.sec4 {
    padding-top: 150px;
    padding-bottom: 50px;
  }
}
.index .section.sec4 .video-wrap {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  position: relative;
  cursor: pointer;
}
@media (max-width: 768px) {
  .index .section.sec4 .video-wrap {
    width: 100%;
    height: 220px;
  }
}
.index .section.sec4 .video-wrap:after {
  content: "";
  display: block;
  position: absolute;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid #fff;
  top: calc(50% - 20px);
  left: calc(50% - 10px);
}
.index .section.sec4 .video-wrap img {
  height: 100%;
  width: auto;
}
.index .section.sec4 p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
}
.index .section.sec4 a.more {
  display: inline-block;
  width: 150px;
  padding: 8px 0;
  font-size: 16px;
  color: #666;
  background-color: #fff;
  border-radius: 20px;
  font-weight: bold;
  margin: 20px 0;
  margin-top: 30px;
}
.index .section.sec4 a.more:hover {
  text-decoration: none;
  background-color: #eee;
}
.index .section.sec5 .section-title h2,
.index .section.sec5 .section-title h5 {
  color: #fff;
}
.index .section.sec5 .section-title h5 {
  margin-top: 12px;
}
.index .section.sec5 .boxWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .index .section.sec5 .boxWrap {
    display: block;
  }
}
.index .section.sec5 .boxWrap .box {
  felx-grow: 1;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .index .section.sec5 .boxWrap .box {
    width: 100vw;
  }
}
.index .section.sec5 .boxWrap .box.left {
  background-image: url("/imgs/story-bg.jpg");
  padding-left: calc((100vw - 1100px) / 2);
}
.index .section.sec5 .boxWrap .box.right {
  background-image: url("/imgs/quality-bg.jpg");
  padding-right: calc((100vw - 1100px) / 2);
}
.index .section.sec5 .boxWrap .box .textGroup {
  text-align: center;
  margin: 30px 0;
  width: 350px;
  color: #fff;
}
.index .section.sec5 .boxWrap .box .textGroup .title {
  margin-bottom: 20px;
}
.index .section.sec5 .boxWrap .box .textGroup .content {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-align: left;
}
.index .section.sec5 .boxWrap .box .textGroup a.more {
  display: inline-block;
  width: 150px;
  padding: 8px 0;
  font-size: 16px;
  color: #666;
  background-color: #fff;
  border-radius: 20px;
  font-weight: bold;
  margin: 20px 0;
  margin-top: 30px;
}
.product-item {
  background-color: #ebf6ff;
  background-image: url("/imgs/milk04.png"), url("/imgs/products-bg.png");
  background-position: center top, center top;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .product-item {
    background-position: center 50px, center top;
  }
}
.product-item .section.nav {
  height: 200px;
}
@media (max-width: 768px) {
  .product-item .section.nav {
    height: 100px;
  }
}
.product-item .section.intro {
  padding-bottom: 60px;
}
.product-item .section.intro .container .imgs-area {
  width: 50%;
  float: left;
}
@media (max-width: 768px) {
  .product-item .section.intro .container .imgs-area {
    width: 100%;
  }
}
.product-item .section.intro .container .imgs-area .main-img {
  background-image: url("/imgs/product-bg.jpg");
  background-size: cover;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
  padding: 0;
  position: relative;
}
@media (max-width: 768px) {
  .product-item .section.intro .container .imgs-area .main-img {
    width: calc(100vw - 40px);
    height: calc(100vw - 40px);
  }
}
.product-item .section.intro .container .imgs-area .main-img .carousel {
  width: 100%;
  height: 100%;
}
.product-item .section.intro .container .imgs-area .main-img .carousel button.ctrl-arrow {
  border: none;
  background-color: transparent;
  outline: none;
  display: block;
  position: absolute;
  top: 45%;
  z-index: 99;
  cursor: pointer;
}
.product-item .section.intro .container .imgs-area .main-img .carousel button.ctrl-arrow.arrow-left {
  left: 0;
}
.product-item .section.intro .container .imgs-area .main-img .carousel button.ctrl-arrow.arrow-right {
  right: 0;
}
.product-item .section.intro .container .imgs-area .main-img .carousel .slick-dots {
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .product-item .section.intro .container .imgs-area .main-img .carousel .imgWrap {
    width: calc(100vw - 40px);
    margin: 0 auto;
  }
}
.product-item .section.intro .container .imgs-area .main-img .carousel .imgWrap img {
  width: 100%;
  z-index: 99;
}
.product-item .section.intro .container .imgs-area .thumb-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
}
.product-item .section.intro .container .imgs-area .thumb-imgs .img-item {
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  margin-right: 10px;
  position: relative;
}
.product-item .section.intro .container .imgs-area .thumb-imgs .img-item.active {
  top: -2px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.product-item .section.intro .container .intro-area {
  width: 50%;
  float: left;
  padding-left: 25px;
}
@media (max-width: 768px) {
  .product-item .section.intro .container .intro-area {
    width: 100%;
    padding-top: 40px;
    padding-left: 0;
  }
}
.product-item .section.intro .container .intro-area > h2 {
  font-weight: bold;
  font-size: 35px;
}
@media (max-width: 768px) {
  .product-item .section.intro .container .intro-area > h2 {
    font-size: 28px;
  }
}
.product-item .section.intro .container .intro-area > h2.title {
  color: #666;
  margin-bottom: 5px;
}
.product-item .section.intro .container .intro-area > h2.price {
  color: #1d2087;
}
.product-item .section.intro .container .intro-area > h2.price span {
  font-size: 16px;
  margin-left: 10px;
  letter-spacing: 2px;
}
.product-item .section.intro .container .intro-area > h2.price span.ps {
  color: #aaa;
  margin-left: 20px;
}
.product-item .section.intro .container .intro-area > p {
  margin: 10px 0;
  font-weight: bold;
}
.product-item .section.intro .container .intro-area .intro-box {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
}
.product-item .section.intro .container .intro-area .intro-box .line {
  border-top: 1px solid #ccc;
}
.product-item .section.intro .container .intro-area .intro-box .line:first-of-type {
  border-top: none;
}
.product-item .section.intro .container .intro-area .intro-box .line .unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50%;
  float: left;
  padding: 0 15px;
}
.product-item .section.intro .container .intro-area .intro-box .line .unit .unit-title {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 3px;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .product-item .section.intro .container .intro-area .intro-box .line .unit .unit-title {
    font-size: 13px;
    letter-spacing: 1px;
  }
}
.product-item .section.intro .container .intro-area .intro-box .line .unit .unit-content {
  font-size: 18px;
  margin-left: 10px;
  color: #777;
}
@media (max-width: 768px) {
  .product-item .section.intro .container .intro-area .intro-box .line .unit .unit-content {
    font-size: 13px;
  }
}
.product-item .section.intro .container .intro-area .sub-intro {
  text-align: center;
  color: #777;
  margin-top: 5px;
}
.product-item .section.intro .container .intro-area .sub-intro .sub-intro-title {
  padding: 0 20px;
  background-color: #ebf6ff;
  position: relative;
  bottom: -10px;
  z-index: 2;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  display: inline-block;
}
.product-item .section.intro .container .intro-area .sub-intro .sub-intro-title .icon {
  vertical-align: middle;
  margin-right: 8px;
}
.product-item .section.intro .container .intro-area .sub-intro .sub-intro-content {
  padding: 20px 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.5px;
}
.product-item .section.intro .container .intro-area .add-to-cart {
  height: 50px;
  margin-top: 25px;
  border-radius: 30px;
  overflow: hidden;
}
.product-item .section.intro .container .intro-area .add-to-cart .count,
.product-item .section.intro .container .intro-area .add-to-cart .button {
  font-size: 16px;
  letter-spacing: 2px;
  float: left;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.product-item .section.intro .container .intro-area .add-to-cart .count {
  background-color: #fff;
  color: #666;
}
.product-item .section.intro .container .intro-area .add-to-cart .count span.label {
  margin-right: 30px;
  font-size: 14px;
  letter-spacing: 2px;
}
.product-item .section.intro .container .intro-area .add-to-cart .count span.num {
  font-size: 28px;
  padding: 0 20px;
}
.product-item .section.intro .container .intro-area .add-to-cart .count i {
  color: #999;
  cursor: pointer;
}
.product-item .section.intro .container .intro-area .add-to-cart .button {
  background-color: #1d2087;
  color: #fff;
}
.product-item .section.intro .container .intro-area .social-icons {
  text-align: center;
  margin: 15px 0;
}
.product-item .section.intro .container .intro-area .social-icons .icon {
  margin: 0 5px;
}
.product-item .section.intro .container .intro-area .sale-stores {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}
.product-item .section.intro .container .intro-area .sale-stores h5 {
  color: #666;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 10px;
}
.product-item .section.intro .container .intro-area .sale-stores .store-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-item .section.sub {
  margin: 60px 0;
}
.product-item .section.sub .hot-items {
  text-align: center;
}
.product-item .section.sub .hot-items .productGroup .card-wrap {
  margin: 0 10px;
}
.products {
  background-color: #c3e0f1;
}
.products .section.nav {
  height: 300px;
  background-color: #ebf6ff;
  background-image: url("/imgs/milk03.png"), url("/imgs/list-bg.jpg");
  background-position: center 180px, center center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .products .section.nav {
    height: 170px;
    background-position: center 50px, center center;
  }
}
.products .section.content {
  padding-bottom: 50px;
  background-color: #ebf6ff;
  background-image: url("/imgs/products-bg.png");
  background-position: center top;
}
.products .section.content .top-selector {
  border-bottom: 1px solid #aaa;
  padding: 15px 0;
}
.products .section.content .top-selector h2.font {
  margin-right: 35px;
  font-size: 25px;
  color: #666;
  position: relative;
}
.products .section.content .top-selector h2.font.active:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -18px;
  margin-top: 15px;
  border-top: 5px solid #666;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.products .section.content .main {
  padding: 30px 0;
}
.products .section.content .main .side-nav {
  float: left;
  width: 30%;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .products .section.content .main .side-nav {
    width: 100%;
  }
}
.products .section.content .main .side-nav h2 {
  background-color: #fff;
  border-radius: 30px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 12px 0;
}
.products .section.content .main .side-nav .list {
  margin-top: 20px;
}
.products .section.content .main .side-nav .list a {
  color: #333;
  display: block;
  padding: 15px 0;
  margin: 10px 0;
  border-bottom: 1px solid #aaa;
  text-decoration: none;
}
.products .section.content .main .side-nav .list a .icon {
  vertical-align: middle;
  margin-right: 30px;
}
.products .section.content .main .side-nav .slider-control {
  padding-top: 30px;
  text-align: center;
}
.products .section.content .main .side-nav .slider-control p {
  margin: 20px 0;
}
.products .section.content .main .side-nav .slider-control button.filter {
  outline: none;
  background-color: #1d2087;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  width: 100px;
  padding: 5px 0;
  display: inline-block;
}
.products .section.content .main .products-area {
  float: left;
  width: 70%;
}
@media (max-width: 768px) {
  .products .section.content .main .products-area {
    width: 100%;
    margin-top: 50px;
  }
}
