extends layout

block currentUrl
    -var currentUrl = 'index'

block content
    .index
        .section.sec1
            .container
                include widgets/header.jade
            .carousel
                .imgWrap: img(src="/imgs/slider01.png")
                .imgWrap: img(src="/imgs/slider01.png")
                .imgWrap: img(src="/imgs/slider01.png")

        .section.sec2
            .container
                .title 
                    .icon.icon-logo-footer
                .cardGroup(class="uk-child-width-1-3@s" uk-grid)
                    div: .card
                        img(src="/imgs/story-bg.jpg")
                        p 新品上市的好物唷
                        a(href="").more More
                    div: .card
                        img(src="/imgs/story-bg.jpg")
                        p 新品上市的好物唷
                        a(href="").more More
                    div: .card
                        img(src="/imgs/story-bg.jpg")
                        p 新品上市的好物唷
                        a(href="").more More
        .section.sec3
            .container 
                .title 
                    .icon.icon-logo-footer
                .cardGroup(class="uk-child-width-1-4@s" uk-grid)
                    div: .card
                        img(src="/imgs/story-bg.jpg")
                        p.title 新品上市的好物唷
                        p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                        h4 NT$ 100元
                            span /桶
                    div: .card
                        img(src="/imgs/story-bg.jpg")
                        p.title 新品上市的好物唷
                        p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                        h4 NT$ 100元
                            span /桶
                    div: .card
                        img(src="/imgs/story-bg.jpg")
                        p.title 新品上市的好物唷
                        p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                        h4 NT$ 100元
                            span /桶
                    div: .card
                        img(src="/imgs/story-bg.jpg")
                        p.title 新品上市的好物唷
                        p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                        h4 NT$ 100元
                            span /桶
                    div: .card
                        img(src="/imgs/story-bg.jpg")
                        p.title 新品上市的好物唷
                        p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                        h4 NT$ 100元
                            span /桶
                    div: .card
                        img(src="/imgs/story-bg.jpg")
                        p.title 新品上市的好物唷
                        p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                        h4 NT$ 100元
                            span /桶
                    div: .card
                        img(src="/imgs/story-bg.jpg")
                        p.title 新品上市的好物唷
                        p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                        h4 NT$ 100元
                            span /桶
                    div: .card
                        img(src="/imgs/story-bg.jpg")
                        p.title 新品上市的好物唷
                        p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                        h4 NT$ 100元
                            span /桶

        .section.sec4
            .container 
                .title 
                    .icon.icon-logo-footer
                .video-wrap 
                    img(src="/imgs/quality-bg.jpg")
                p 影片標題影片標題在這
                a.more(href="") 更多影片

        .section.sec5
            .boxWrap
                .box.left
                    .textGroup
                        .title 
                            .icon.icon-logo-footer
                        .content.
                            測試的內容測試的內容測試的內容測試的內容，測試的內容測試的內容測試的內容測試的內容測試的內容測試的內容，
                            測試的內容測試的內容測試的內容測試的內容測試的內容，測試的內容測試的內容測試的內容...
                        a.more(href="") 瞭解更多

                .box.right
                    .textGroup
                        .title 
                            .icon.icon-logo-footer
                        .content.
                            測試的內容測試的內容測試的內容測試的內容，測試的內容測試的內容測試的內容測試的內容測試的內容測試的內容，
                            測試的內容測試的內容測試的內容測試的內容測試的內容，測試的內容測試的內容測試的內容...
                        a.more(href="") 瞭解更多
                        
        include widgets/footer.jade


            

                

