extends layout

block currentUrl
    -var currentUrl = 'index'

block content
    .index
        .section.nav
            include widgets/header.jade
        .section.sec1
            .carousel
                .imgWrap: img(src="/imgs/slider01.png")
                .imgWrap: img(src="/imgs/slider01.png")
                .imgWrap: img(src="/imgs/slider01.png")

        .section.sec2
            .container
                .section-title 
                    h2.font News
                    h5 最新消息
                .adGroup(class="uk-child-width-1-3@s" uk-grid)
                    div: a.card
                        img(src="/imgs/product.png")
                        p 新品上市的好物唷
                        a(href="").more More
                    div: a.card
                        img(src="/imgs/product.png")
                        p 新品上市的好物唷
                        a(href="").more More
                    div: a.card
                        img(src="/imgs/product.png")
                        p 新品上市的好物唷
                        a(href="").more More
        .section.sec3
            .container 
                .section-title 
                    h2.font Hot Items
                    h5 人氣商品
                .productGroup(class="uk-child-width-1-4@s" uk-grid)
                    div: .card
                        a.icon.icon-cm.video-link(href="/")
                        a(href="/product-item.html")
                            img(src="/imgs/product.png")
                            p.title 新品上市的好物唷
                            p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                            h4 NT$ 100元
                                span /桶
                    div: .card
                        a.icon.icon-cm.video-link(href="/")
                        a(href="/product-item.html")
                            img(src="/imgs/product.png")
                            p.title 新品上市的好物唷
                            p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                            h4 NT$ 100元
                                span /桶
                    div: .card
                        a.icon.icon-cm.video-link(href="/")
                        a(href="/product-item.html")
                            img(src="/imgs/product.png")
                            p.title 新品上市的好物唷
                            p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                            h4 NT$ 100元
                                span /桶
                    div: .card
                        a.icon.icon-cm.video-link(href="/")
                        a(href="/product-item.html")
                            img(src="/imgs/product.png")
                            p.title 新品上市的好物唷
                            p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                            h4 NT$ 100元
                                span /桶
                    div: .card
                        a.icon.icon-cm.video-link(href="/")
                        a(href="/product-item.html")
                            img(src="/imgs/product.png")
                            p.title 新品上市的好物唷
                            p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                            h4 NT$ 100元
                                span /桶
                    div: .card
                        a.icon.icon-cm.video-link(href="/")
                        a(href="/product-item.html")
                            img(src="/imgs/product.png")
                            p.title 新品上市的好物唷
                            p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                            h4 NT$ 100元
                                span /桶
                    div: .card
                        a.icon.icon-cm.video-link(href="/")
                        a(href="/product-item.html")
                            img(src="/imgs/product.png")
                            p.title 新品上市的好物唷
                            p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                            h4 NT$ 100元
                                span /桶
                    div: .card
                        a.icon.icon-cm.video-link(href="/")
                        a(href="/product-item.html")
                            img(src="/imgs/product.png")
                            p.title 新品上市的好物唷
                            p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                            h4 NT$ 100元
                                span /桶

        .section.sec4
            .container 
                .section-title 
                    h2.font CM
                    h5 廣告特輯
                .video-wrap 
                    img(src="/imgs/video.png")
                p 影片標題影片標題在這
                a.more(href="") 更多影片

        .section.sec5
            .boxWrap
                .box.left
                    .textGroup
                        .section-title 
                            h2.font Story
                            h5 百吉沿革
                        .content.
                            測試的內容測試的內容測試的內容測試的內容，測試的內容測試的內容測試的內容測試的內容測試的內容測試的內容，
                            測試的內容測試的內容測試的內容測試的內容測試的內容，測試的內容測試的內容測試的內容...
                        a.more(href="") 瞭解更多

                .box.right
                    .textGroup
                        .section-title 
                            h2.font High Quality
                            h5 品質控管
                        .content.
                            測試的內容測試的內容測試的內容測試的內容，測試的內容測試的內容測試的內容測試的內容測試的內容測試的內容，
                            測試的內容測試的內容測試的內容測試的內容測試的內容，測試的內容測試的內容測試的內容...
                        a.more(href="") 瞭解更多
                        
        include widgets/footer.jade


            

                

