extends layout

block currentUrl
    -var currentUrl = 'product-item'

block content
    .product-item
        .section.nav
            .container
                include widgets/header.jade

                        
        include widgets/footer.jade


            

                

