extends layout

block currentUrl
    -var currentUrl = 'products'

block script
    script(src="/js/products.js")

block content
    .products
        .section.nav
            include widgets/header.jade

        .section.content 
            .container 
                .top-selector
                    h2.font.active Hot
                    h2.font New
                    h2.font Price
                .main
                    .side-nav
                        h2 商品分類
                        .list
                            a 
                                .icon.icon-category01
                                | 棒棒冰
                            a 
                                .icon.icon-category02
                                | 雪糕
                            a 
                                .icon.icon-category03
                                | 冰淇淋
                            a 
                                .icon.icon-category04
                                | 業務用
                        br
                        h2 價格篩選
                        .slider-control
                            #skipstep
                            p  價格：
                                span#skip-value-lower
                                | ~
                                span#skip-value-upper
                            button.filter  篩選

                    .products-area
                        .productGroup(class="uk-child-width-1-3@s" uk-grid)
                            div: .card
                                a.icon.icon-cm.video-link(href="/")
                                a(href="/product-item.html")
                                    img(src="/imgs/product.png")
                                    p.title 新品上市的好物唷
                                    p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                                    h4 NT$ 100元
                                        span /桶
                            div: .card
                                a.icon.icon-cm.video-link(href="/")
                                a(href="/product-item.html")
                                    img(src="/imgs/product.png")
                                    p.title 新品上市的好物唷
                                    p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                                    h4 NT$ 100元
                                        span /桶
                            div: .card
                                a.icon.icon-cm.video-link(href="/")
                                a(href="/product-item.html")
                                    img(src="/imgs/product.png")
                                    p.title 新品上市的好物唷
                                    p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                                    h4 NT$ 100元
                                        span /桶
                            div: .card
                                a.icon.icon-cm.video-link(href="/")
                                a(href="/product-item.html")
                                    img(src="/imgs/product.png")
                                    p.title 新品上市的好物唷
                                    p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                                    h4 NT$ 100元
                                        span /桶
                            div: .card
                                a.icon.icon-cm.video-link(href="/")
                                a(href="/product-item.html")
                                    img(src="/imgs/product.png")
                                    p.title 新品上市的好物唷
                                    p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                                    h4 NT$ 100元
                                        span /桶
                            div: .card
                                a.icon.icon-cm.video-link(href="/")
                                a(href="/product-item.html")
                                    img(src="/imgs/product.png")
                                    p.title 新品上市的好物唷
                                    p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                                    h4 NT$ 100元
                                        span /桶
                                
                        
                        
        include widgets/footer.jade


            

                

