extends layout

block currentUrl
    -var currentUrl = 'product-item'

block content
    .product-item
        .section.nav
            include widgets/header.jade
        .section.intro
            .container
                .imgs-area
                    .main-img.uk-card.uk-card-default.uk-card-body
                        img(src="/imgs/product.png")
                    .thumb-imgs
                        .uk-card.uk-card-default.uk-card-body.img-item
                            img(src="/imgs/product.png")
                        .uk-card.uk-card-default.uk-card-body.img-item
                            img(src="/imgs/product.png")
                        .uk-card.uk-card-default.uk-card-body.img-item
                            img(src="/imgs/product.png")
                        .uk-card.uk-card-default.uk-card-body.img-item
                            img(src="/imgs/product.png")
                .intro-area
                    h2.title 百吉冰淇淋家庭號<香草>
                    h2.price NT$ 100元
                        span /桶
                        span.ps 建議售價
                    p 特選產地原料與明治乳業技術合作，份量滿足!!
                    .intro-box
                        .line
                            .unit
                                .icon.icon-product-info01
                                span.unit-title 過敏原
                                span.unit-content 蛋、牛奶
                            .unit
                                .icon.icon-product-info02
                                span.unit-title 產品重量
                                span.unit-content 1000cc/桶
                        .line
                            .unit
                                .icon.icon-product-info03
                                span.unit-title 保存期限
                                span.unit-content 12個月
                            .unit
                                .icon.icon-product-info04
                                span.unit-title 產地
                                span.unit-content 台灣
                        .line
                            .unit
                                .icon.icon-product-info05
                                span.unit-title 所屬品牌
                                span.unit-content 百吉
                    .sub-intro
                        .sub-intro-title 
                            .icon.icon-product-info06
                            | 成分
                        .sub-intro-content.
                            說明的內容說明的內容說明的內容說明的內容，說明的內容說明的內容說明的內容說明的內容說明的內容說明的內容說明的內容，說明的內容說明的內容說明的內容說明的內容。
                    
                    .add-to-cart
                        .count
                            span.label 數量
                            i.material-icons remove
                            span.num 1
                            i.material-icons add
                        .button
                            .icon.icon-cart-white 
                            | 加到購物車
                    .social-icons 
                        .icon.icon-product-favorite
                        .icon.icon-facebook
                        .icon.icon-pinterest
                    .sale-stores
                        h5 銷售通路
                        .store-logos 
                            .icon.icon-logo-footer
                            .icon.icon-logo-footer
                            .icon.icon-logo-footer
                            .icon.icon-logo-footer

        .divider
                        
        .section.sub 
            .container 
                .hot-items 
                    .section-title  
                        h2.font Hot Items 
                        h5 人氣商品
                    .productGroup(class="uk-child-width-1-4@s" uk-grid)
                        div: .card
                            a.icon.icon-cm.video-link(href="/")
                            a(href="/product-item.html")
                                img(src="/imgs/product.png")
                                p.title 新品上市的好物唷
                                p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                                h4 NT$ 100元
                                    span /桶
                        div: .card
                            a.icon.icon-cm.video-link(href="/")
                            a(href="/product-item.html")
                                img(src="/imgs/product.png")
                                p.title 新品上市的好物唷
                                p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                                h4 NT$ 100元
                                    span /桶
                        div: .card
                            a.icon.icon-cm.video-link(href="/")
                            a(href="/product-item.html")
                                img(src="/imgs/product.png")
                                p.title 新品上市的好物唷
                                p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                                h4 NT$ 100元
                                    span /桶
                        div: .card
                            a.icon.icon-cm.video-link(href="/")
                            a(href="/product-item.html")
                                img(src="/imgs/product.png")
                                p.title 新品上市的好物唷
                                p.intro 產品說明，產品說明產品說明產品說明產品說明!!
                                h4 NT$ 100元
                                    span /桶





                        
        include widgets/footer.jade


            

                

