.index
    background-color: bg-color
    .section
        position: relative
    .section.nav
        position: absolute 
        z-index: 3
        width: 100%
    .section.sec1
        background-color: #93C3E1
        padding-bottom: 250px
        z-index: 2
        background-image: url("/imgs/slider-bg.jpg")
        background-position: center top
        padding-top: 200px
        @media(max-width: media-mobile)
            padding-top: 130px

        .slick-initialized 
            .slick-slide
                margin: 0 30px
            .slick-dots
                bottom: -50px
        
        .carousel
            width: 100%
            button.ctrl-arrow
                border: none 
                background-color: transparent 
                outline: none
                display: block 
                position: absolute
                top: 45%
                z-index: 9
                cursor: pointer
                &.arrow-left
                    left: "calc((100vw - %s) / 2 + 60px)" % container-w
                    margin-left: 40px
                &.arrow-right
                    right: "calc((100vw - %s) / 2 + 60px)" % container-w
                    margin-right: 40px
            .imgWrap
                height: 100%
                @media(max-width: media-mobile)
                    width: calc(100vw - 40px)
                    margin: 0 10px
                img 
                    max-width: 100%
    
    .section.sec2 
        z-index: 2
        background-image: url("/imgs/milk01.png")
        background-position: top center 
        background-repeat: no-repeat
        // height: 723px
        padding-top: 170px
        margin-top: -180px
        padding-bottom: 200px
        @media(max-width: media-mobile)
            background-color: bg-color
            padding-top: 80px
            padding-bottom: 80px
        .adGroup
            text-align: center
            a.card 
                text-align: center
                display: block
                text-decoration: none
                color: #666
                &:hover
                    color: #333
                img 
                    width: 100%
                    max-height: 200px
                    border-radius: 10px 
                    overflow: hidden 
                p 
                    margin: 20px 0
                    color: #666 
                    font-size: 17px
                    font-weight: bold 

            a.more 
                text-decoration: none 
                border: none 
                background-color: #BCC4CC
                color: #fff
                display: inline-block 
                width: 100px 
                padding: 3px 0
                border-radius: 20px
                &:hover 
                    background-color: darken(#BCC4CC, 10%)

    .section.sec3
        background-color: #fff
        position: relative
        z-index: 1
        margin-top: -200px
        padding: 200px 0
        @media(max-width: media-mobile)
            padding-top: 280px


     
    .section.sec4
        background-color: #D8E2EB
        background-image: url("/imgs/milk02.png"), url("/imgs/brickwall-blue.png")
        background-position: center -5px 
        background-repeat: no-repeat, repeat
        z-index: 2
        margin-top: -200px
        padding: 200px 0
        text-align: center
        @media(max-width: media-mobile)
            padding-top: 150px
            padding-bottom: 50px
        .video-wrap
            width: 600px
            height: 300px
            margin: 0 auto
            margin-bottom: 20px
            border-radius: 10px
            overflow: hidden
            box-shadow: 0 0 10px rgba(#000, 0.6)
            position: relative 
            cursor: pointer
            @media(max-width: media-mobile)
                width: 100%
                height: 220px
            &:after 
                content: ""
                display: block 
                position: absolute
                border-top: 20px solid transparent
                border-bottom: @border-top
                border-left: 40px solid #fff 
                // border-right: @border-left
                top: calc(50% - 20px)
                left: calc(50% - 10px)
            img 
                height: 100%
                width: auto
        p 
            font-size: 16px
            font-weight: bold 
            color: #666
        a.more
            display: inline-block
            width: 150px 
            padding: 8px 0
            font-size: 16px
            color: #666 
            background-color: #fff
            border-radius: 20px
            font-weight: bold
            margin: 20px 0
            margin-top: 30px
            &:hover 
                text-decoration: none 
                background-color: #eee

    .section.sec5
        .section-title
            h2, h5 
                color: #fff
            h5  
                margin-top: 12px
        .boxWrap
            display: flex
            @media(max-width: media-mobile)
                display: block
            .box
                felx-grow: 1
                height: 500px
                display: flex
                width: 50vw
                align-items: center
                justify-content: center
                @media(max-width: media-mobile)
                    width: 100vw
                &.left 
                    background-image: url("/imgs/story-bg.jpg")
                    padding-left: "calc((100vw - %s) / 2)" % container-w
                &.right
                    background-image: url("/imgs/quality-bg.jpg")
                    padding-right: "calc((100vw - %s) / 2)" % container-w
                .textGroup 
                    text-align: center
                    margin: 30px 0
                    width: 350px
                    color: #fff
                    .title 
                        margin-bottom: 20px
                    .content 
                        font-size: 14px 
                        line-height: 22px
                        letter-spacing: 0.5px
                        text-align: left
                    a.more
                        display: inline-block
                        width: 150px 
                        padding: 8px 0
                        font-size: 16px
                        color: #666 
                        background-color: #fff
                        border-radius: 20px
                        font-weight: bold
                        margin: 20px 0
                        margin-top: 30px
            



                


