.product-item
    background-color: #EBF6FF
    background-image: url('/imgs/milk04.png'), url('/imgs/products-bg.png')
    background-position: center top, center top
    background-repeat: no-repeat
    @media(max-width: media-mobile)
        background-position: center 50px, center top
    
    .section.nav
        height: 200px
        @media(max-width: media-mobile)
            height: 100px
    .section.intro
        padding-bottom: 60px
        .container 
            &:after 
                @extend .clearfix
            .imgs-area
                width: 50%
                float: left
                @media(max-width: media-mobile)
                    width: 100%
                .main-img
                    background-image: url("/imgs/product-bg.jpg")
                    background-size: cover
                    height: 500px
                    display: flex 
                    align-items: center
                    justify-content: center
                    border-radius: 10px
                    overflow: hidden
                    margin-bottom: 25px
                    padding: 0
                    position: relative
                    @media(max-width: media-mobile)
                        width: calc(100vw - 40px)
                        height: @width
                    .carousel
                        width: 100%
                        height: 100%
                        button.ctrl-arrow
                            border: none 
                            background-color: transparent 
                            outline: none
                            display: block 
                            position: absolute
                            top: 45%
                            z-index: 99
                            cursor: pointer
                            &.arrow-left
                                left: 0
                            &.arrow-right
                                right: 0
                        .slick-dots
                            margin-bottom: 25px
                        .imgWrap
                            @media(max-width: media-mobile)
                                width: calc(100vw - 40px)
                                margin: 0 auto
                            img 
                                width: 100%
                                z-index: 99
                .thumb-imgs
                    display: flex
                    margin-right: -10px
                    .img-item
                        border-radius: 10px
                        overflow: hidden
                        padding: 0
                        margin-right: 10px
                        position: relative
                        &.active 
                            top: -2px
                            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)


                    
            .intro-area
                width: 50%
                float: left
                padding-left: 25px
                @media(max-width: media-mobile)
                    width: 100%
                    padding-top: 40px
                    padding-left: 0
                > h2 
                    font-weight: bold
                    font-size: 35px
                    @media(max-width: media-mobile)
                        font-size: 28px
                    &.title
                        color: #666
                        margin-bottom: 5px
                        
                    &.price
                        color: main-color
                        span 
                            font-size: 16px
                            margin-left: 10px
                            letter-spacing: 2px
                            &.ps 
                                color: #aaa
                                margin-left: 20px
                > p 
                    margin: 10px 0
                    font-weight: bold
                .intro-box
                    background-color: #fff
                    border-radius: 10px 
                    margin-top: 20px
                    .line 
                        border-top: 1px solid #ccc
                        &:first-of-type 
                            border-top: none
                        &:after 
                            @extend .clearfix
                        .unit
                            display: flex 
                            align-items: center
                            height: 50px
                            width: 50%
                            float: left
                            padding: 0 15px
                            .unit-title 
                                font-weight: bold
                                font-size: 15px
                                letter-spacing: 3px
                                margin-left: 10px
                                @media(max-width: media-mobile)
                                    font-size: 13px
                                    letter-spacing: 1px
                            .unit-content 
                                font-size: 18px
                                margin-left: 10px
                                color: #777
                                @media(max-width: media-mobile)
                                    font-size: 13px

                .sub-intro
                    text-align: center
                    color: #777
                    margin-top: 5px
                    .sub-intro-title
                        padding: 0 20px
                        background-color: bg-color
                        position: relative
                        bottom: -10px
                        z-index: 2
                        font-size: 15px 
                        font-weight: bold
                        letter-spacing: 3px
                        display: inline-block
                        .icon 
                            vertical-align: middle
                            margin-right: 8px
                    .sub-intro-content
                        padding: 20px 0
                        border-top: 1px solid #999
                        border-bottom: @border-top
                        font-size: 14px
                        text-align: left
                        letter-spacing: 0.5px

                .add-to-cart
                    height: 50px
                    margin-top: 25px
                    border-radius: 30px
                    overflow: hidden
                    &:after 
                        @extend .clearfix
                    .count, .button 
                        font-size: 16px
                        letter-spacing: 2px
                        float: left 
                        width: 50%
                        display: flex 
                        align-items: center 
                        justify-content: center
                        height: 100%
                    .count 
                        background-color: #fff
                        color: #666
                        span.label 
                            margin-right: 30px
                            font-size: 14px
                            letter-spacing: 2px
                        span.num 
                            font-size: 28px
                            padding: 0 20px
                        i 
                            color: #999
                            cursor: pointer
                    .button 
                        background-color: main-color
                        color: #fff
                .social-icons 
                    text-align: center
                    margin: 15px 0
                    .icon 
                        margin: 0 5px
                .sale-stores
                    background-color: #fff
                    padding: 15px
                    border-radius: 10px
                    h5 
                        color: #666
                        font-size: 14px
                        letter-spacing: 2px
                        font-weight: bold
                        margin-bottom: 10px
                    .store-logos 
                        display: flex 
                        justify-content: space-between


    .section.sub 
        margin: 60px 0
        .hot-items
            text-align: center
            .productGroup
                .card-wrap
                    margin: 0 10px