.product-item
    background-color: #C3E0F1
    .section.nav
        height: 350px
        background-color: #EBF6FF
        background-image: url('/imgs/milk04.png')
        background-position: center top
        background-repeat: no-repeat
    