.products
    background-color: #C3E0F1
    .section.nav
        height: 300px
        background-color: #EBF6FF
        background-image: url('/imgs/milk03.png'), url('/imgs/list-bg.jpg')
        background-position: center 180px, center center
        background-repeat: no-repeat
        @media(max-width: media-mobile)
            height: 170px
            background-position: center 50px, center center

    .section.content
        padding-bottom: 50px
        background-color: #EBF6FF
        background-image: url('/imgs/products-bg.png')
        background-position: center top
        // background-image: url('/imgs/bg-left.png'), url('/imgs/bg-right.png')
        // background-position: left top, right top
        // background-repeat: no-repeat
        .top-selector
            border-bottom: 1px solid #aaa
            padding: 15px 0
            h2.font
                margin-right: 35px
                font-size: 25px
                color: #666
                position: relative
                &.active
                    &:after 
                        content: ""
                        display: block 
                        position: absolute
                        right: 0
                        top: 0
                        margin-right: -18px
                        margin-top: 15px
                        border-top: 5px solid #666
                        border-left: 5px solid transparent
                        border-right: @border-left

        .main 
            padding: 30px 0
            &:after 
                @extend .clearfix
            .side-nav
                float: left
                width: 30% 
                padding-right: 30px
                @media(max-width: media-mobile)
                    width: 100%
                h2 
                    background-color: #fff 
                    border-radius: 30px 
                    color: #000
                    font-size: 18px 
                    font-weight: bold
                    text-align: center
                    padding: 12px 0

                .list 
                    margin-top: 20px 
                    a 
                        color: #333 
                        display: block 
                        padding: 15px 0
                        margin: 10px 0
                        border-bottom: 1px solid #aaa
                        text-decoration: none
                        .icon 
                            vertical-align: middle
                            margin-right: 30px
                .slider-control
                    padding-top: 30px
                    text-align: center
                    p 
                        margin: 20px 0
                    button.filter
                        outline: none
                        background-color: main-color
                        border: none
                        color: #fff
                        cursor: pointer
                        border-radius: 20px
                        width: 100px
                        padding: 5px 0
                        display: inline-block



            .products-area
                float: left
                width: 70% 
                @media(max-width: media-mobile)
                    width: 100%
                    margin-top: 50px
                